@model PracticeSMSystem.Data.Models.Staff

@{
    ViewData["Title"] = "Staff Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-3">Staff Details</h2>

<div class="card shadow-lg rounded">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.FirstName @Model.LastName</dd>

            <dt class="col-sm-3">Gender</dt>
            <dd class="col-sm-9">@Model.Gender</dd>

            <dt class="col-sm-3">Date of Birth</dt>
            <dd class="col-sm-9">@Model.Dob?.ToString("dd-MMM-yyyy")</dd>

            <dt class="col-sm-3">Hire Date</dt>
            <dd class="col-sm-9">@Model.HireDate.ToString("dd-MMM-yyyy")</dd>

            <dt class="col-sm-3">Position</dt>
            <dd class="col-sm-9">@Model.Position</dd>

            <dt class="col-sm-3">Role</dt>
            <dd class="col-sm-9">@Model.RoleId</dd>

            <dt class="col-sm-3">Email</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Phone</dt>
            <dd class="col-sm-9">@Model.Phone</dd>

            <dt class="col-sm-3">Created On</dt>
            <dd class="col-sm-9">@Model.CreatedOn?.ToString("dd-MMM-yyyy")</dd>
        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
